*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}

.navbar{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    margin-left: 30px;
    margin-top: 10px;
    width: 10%;
    height: 20%;

}
.navbar-center {
    display: flex;
    gap: 20px;
    color: rgb(15, 7, 7);
    justify-content: space-around;
}
.navbar-center span {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-center span:hover {
    color: #ff7f50;
}

.btn {
    background-color: #F55953;
    border: none;
    color: white;
     padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff5733;
}

.page1{
    width: 100%;
    height: 70%;
    background-color: white;
   
}

.page1 h1{
    font-size: 50px;
    margin-left: 26%;
    margin-top:70px;
  
}
.page1 h2{
    font-size: 50px;
    margin-left: 40%;
  
}

.page1 p{
    font-size: 23px;
    margin-top: 25px;
   
    margin-left: 40%;
  
}
.page1 .btn1{
    margin-top: 35px;
    margin-left: 37%;
    background-color:  #F55953;
    color: white;
    font-size: 15px;
    padding: 20px 35px;
    border-radius: 30px;
    border: none;
}
.page1 .btn2{
    padding: 20px 35px;
    font-size: 15px;
    border-radius: 30px;
    background-color:  #F55953;
    color: white;
    border: none;
}

.page2{
    width: 100%;
    height: 100%;
    background-color: white;
}

.page2 .box{
    width: 60%;
    height: 80%;
    background-color: white;
    margin-left: 20%;
    transform: translateY(60px);   

}

.box img{
    height: 100%;
    width: 100%;
}

.page3{
    width: 100%;
    height: 90%;
    background-color: blueviolet;
    display: flex;
}

.page3 .lft{
    height: 100%;
    width: 50%;
    background-color: white;
}

.lft img{
   
    width: 70%;
    height: 80%;
    margin-top: 25px;   
    margin-left: 30%;
    
}

.page3 .ryt{
    height: 100%;
    width: 50%;
    background-color:white;

}

.page3 h1{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 35px;
}

.page3 h4{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 35px;
}

.page3 p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
 
.page4{
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
}

.page4 .left{
    height: 100%;
    width: 50%;
    background-color: white;
}

.left h1{
    font-size: 50px;
    margin-top: 55px;
    margin-left: 25%;

}

.left h4{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 25%;

}

.left h5{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 25%;

}

.left p{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 25%;

}



.page4.right{
    height: 100%;
    width: 50%;
    background-color:rgb(22, 199, 90);

}

.right img{
    width: 70%;
    height: 60%;
    margin-top: 25px;   
    margin-left: 30%;

}

.page5{
    width: 100%;
    height: 70%;
    background-color: cornflowerblue;
    display: flex;
}
.page5 .left1{
    width: 50%;
    height: 100%;
    background-color: white;
}

.left1 img{
    width: 50%;
    height: 70%;
    margin-left: 27%;
    margin-top: 13%;
}

.page5 .right1{
    width: 50%;
    height: 100%;
    background-color: white;

}
.right1 h1{
    font-size: 50px;
    margin-top: 55px;
    margin-left: 15%;

}

.right1 h4{
    font-size: 20px;
    margin-top: 35px;
    margin-left: 15%;

}

.right1 h5{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15%;

}

.right1 p{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15%;

}
 .page6{
    width: 100%;
    height: 100%;
    background-color: white;
} 
.page6 h1{
    font-size: 60px;
    margin-left: 27%;
    transform: translateY(60px);   
    
}
.page6 p{
    text-align: justify;
    margin-left: 25%;
    margin-top: 25px;
    font-size: 20px;
   
}

.page6 h5{
    font-size: 20px;
    margin-left: 43%;
    margin-top: 15px;
    


}

.page6 h6{
    font-size: 15px;
    margin-left: 40%;
    margin-top: 10px;
   

}

.con{
    width: 160px;
    height: 160px;
    background-color: #ff5733;
    margin-top: 90px;
    margin-left: 40%;
    border-radius: 50%;
}

.con img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.page7{
    width: 100%;
    height: 40%;
    background-color: hsl(2, 89%, 64%);
    display: flex;

}

.page7 .lft-side{
    width: 100%;
    height: 100%;
    
}
.lft-side h1{
    color: white;
    font-size: 35px;
    margin-left: 15%;
    margin-top: 10%;
}

.lft-side p{
    color: white;
    font-size: 25px;
    margin-left: 15%;
    margin-top: 4%;

}

.page7 .ryt-side{
    width: 100%;
    height: 100%;
    
}
.ryt-side button{
    padding: 14px 40px;
     border-radius: 20px;    
    font-weight: 700;
    margin-left: 12%;
    margin-top: 13%;
    
} 
.btn-transparent{
    color: hsl(2, 89%, 64%);
    background-color: white;
    border: 2px solid hsl(2, 89%, 64%);
    
    
}
.btn-colored{
    background-color: hsl(2, 89%, 64%);
    color: white;
    border: 2px solid hsl(3, 22%, 83%);
}

.page8{
    width: 100%;
    height: 70%;
    background-color: #102342;
}

.page8 img{
    height: 60px;
   width: 150px;
   margin-left: 10%;
   margin-top: 60px;
   

}

.page8 h1{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 20px;
    color: white;
    
}

.page8 p{
    font-size: 17px;
    margin-left: 10%;
    margin-top: 20px;
    color: white;

}
